
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,0">
        <title>WomrholePlan | <%= title %></title>
        <link rel="stylesheet" href="/styles.css">
        <link rel='stylesheet' href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>
        
    </head>
<body>

    <%- include('./partials/header.ejs') %>


    <div id="tripleItemGrid">
        <div class="sideBar">


    <div id="search" >
        <label for="search">Buscar amigos</label>
        <form action="/users/search" method="POST">
        <input type="search" id="searchInput" name="search">
    </form>
    </div>
    <div id="hobbieDiv">
        <a href="/users/deporte" class="sideBarItem">Deporte</a>
        <a href="/users/plan_de_vida" class="sideBarItem">Plan de vida</a>
        <a href="/users/estudio" class="sideBarItem">Estudio</a>
        <a href="/users/hobbies" class="sideBarItem">Hobbies</a>
        <!-- <a href="/users/agenda" class="sideBarItem"> Agenda </a>
        <a href="/users/publicaciones" class="sideBarItem">publicaciones</a>
        <a href="/users/rueda_de_vida" class="sideBarItem"> Rueda de vida </a>  -->
            
    </div>

</div>

        <div>



  <div class="info">


                

                <h2>Resultados de la búsqueda</h2>

                <%const userfilter = users.filter(user => user.name === busqueda);%>


                <% if (userfilter.length > 0) { %>
                    <% userfilter.forEach(user => { %>

                    <a class="single" href="/users/<%= user._id%>">
                        <div class="flex-table">
                            <div class="flex-item">
                                <p ><%=user.name%></p>
                            </div>
                            <div class="flex-item">
                                <p ><%=user.email%></p>
                            </div>
                        </div>   
                    </a>
                   

                    <% }) %>
                  
                <% } else { %>
                    <p> No hay usuarios que mostrar ):</p>
               
                <% } %>
            </div>
            
        </div>
        <div id="rightBar">
    <div class="container_calendar">
        <div class="header_calendar">
            <h1 id="text_day">00</h1>
            <h5 id="text_month">Null</h5>
        </div>
        <div class="body_calendar">
            <div class="container_details">
                <div class="detail_1">
                    <div class="detail">
                        <div class="circle">
                            <div class="column"></div>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="circle">
                            <div class="column"></div>
                        </div>
                    </div>
                </div>
                <div class="detail_2">
                    <div class="detail">
                        <div class="circle">
                            <div class="column"></div>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="circle">
                            <div class="column"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container_change_month">
                <button id="last_month">&lt;</button>
                <div>
                    <span id="text_month_02">Null</span>
                    <span id="text_year">0000</span>
                </div>
                <button id="next_month">&gt;</button>
            </div>
            <div class="container_weedays">
                <span class="week_days_item">DOM</span>
                <span class="week_days_item">LUN</span>
                <span class="week_days_item">MAR</span>
                <span class="week_days_item">MÍE</span>
                <span class="week_days_item">JUE</span>
                <span class="week_days_item">VIE</span>
                <span class="week_days_item">SÁB</span>
            </div>
            <div class="container_days">
                <span class="week_days_item item_day"></span>
                
            </div>
        </div>

    </div>
    <input type="text" placeholder="plantillas predeterminadas para mis frases y modelos a seguir"
        id="plantillas">
    <div id="">

    </div>
</div>


    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="variables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="/menu.js"></script>
<script src="/calendario_script.js"></script>
<!-- <script src="/rueda_de_vida.js"></script> -->
 

</body>

</html>
